.eror-wrapp{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    
}
.eror-wrapp a{
    margin: 1rem ;
}
.eror-wrapp h1{
    font-size: 4rem;
 
    direction: ltr;
}
.back-home:hover{
    
    background-color: var(--dark-color);
    color: var(--white-color);
   
}