@media (min-width:568px) {
   
      .row{
        row-gap: 0;
    }
   
    .eror-wrapp h1{
        font-size: 6rem;
        height: 10rem;
    }
    .chekout-right{
        width: 40% !important;
    } 
    .checkout-left{
        
        width: 50% !important;
    }
    .details-left{
        width: 50% ;
    }
    .main-image{
       
           width:40.4rem;
           height: 40.4rem;
       }
       .image-slide{
        width: 8rem;
        height: 8rem;
        border: 1px solid #575656;
        border-radius: 1rem;
    }
    .addcomment{
        width: 40rem;
    }
   
 
      .product-price__wrapp{
font-size: 1.5rem;
      }
      .product-price__wrapp{
        gap: 2.5rem;
      }

      .discount-intro{
   flex-direction: row;
   gap: 1rem;
        font-size: 1.8rem;
      }
      .product-name{
       
        font-size: 1.7rem;
    }
    .product-detail__title{
        font-size: 1.5rem;
    }
    .number-box{
      width: 8rem;
       
    }
    .product-color{
        width: 2.4rem;
        height: 2.4rem;
    }
    .colors-wrapp{
        
        margin: 0;
        
    }
    .product-size {
    width: 5rem;
    }
    .swiperproduct-wrapper{
        scrollbar-width: thin;
    }
}



@media (min-width:768px) {
    .main-header__menu{
        font-size: 1.6rem !important;
    }
    .sign-image{
        width: 65% !important;
    }
    .special-sale__product-description h3{
        font-size: 1.45rem;
              }
    .product-img{
        width: 14rem;
    }
    .papular-product{
        flex-wrap: nowrap;
        padding: 5rem;
    }
    .papular-product__img{
        width: 50rem;
        height: 100%;
    }
    .row-two__column{
        row-gap: 0;
    }
   
    .dropdown-profile{
      width: 20rem;
        right: -15.5rem;
        font-size: 1.8rem;
       
      }
      .dropdown-profile__menu--item{
padding: 0.6rem 1rem;
      }
      .dropdown-profile__menu--link svg{
        width: 3rem;
        height: 3rem;
      }
      .Final-registration__left{
        width: 35% !important;
    }
    .copon-part{
        width: 50% !important;
    }
    .eror-wrapp h1{
        font-size: 9rem;
        height: 13rem;
    }
}
